<form [formGroup]="myForm" >
  <ion-item *ngFor="let control of pageFormData?.controls">
    <ion-label
    *ngIf="control.type === 'label'">{{ control.text }}</ion-label>
    <ion-input
      *ngIf="
        [
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(control.type)
      "
      [type]="control.type"
      [formControlName]="control.id"
      [value]="control.value"
    ></ion-input>

    <ion-input  *ngIf="control.type === 'textbox'" 
    [formControlName]="control.id" 
    type="text"
    [value]="control.value"
    ></ion-input>
    <ion-textarea
      *ngIf="control.type === 'textarea'"
      [formControlName]="control.id"
      [value]="control.value"
    ></ion-textarea>
    <ion-checkbox
      *ngIf="control.type === 'checkbox'"
      [formControlName]="control.id"
      [checked]="control.value"
    ></ion-checkbox>
    <ion-toggle
      *ngIf="control.type === 'toggle'"
      [formControlName]="control.id"
      [checked]="control.value"
    ></ion-toggle>
    
    <ion-button  *ngIf="control.type === 'button'"
   
    type="button" (click)="onSubmit(control)">{{ control.text }}</ion-button>
  </ion-item>
  
</form>
